// ================== Import File's
@import "./variable";
@import "./mixinQuery";
// =============================== Google Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// ================================ Global Rule's
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bodyBackground);
  background-size: 200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::before {
    content: "";
    background-image: url("../image/main_bg.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
}

.main-btn,
.sec-btn {
  border: none;
  width: 150px;
  padding: 7px;
  border-radius: 6px;
  font-size: 17px;
  letter-spacing: 1px;
  transition: var(--trans);
}
.main-btn {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  &:hover {
    background-color: #1d7fcd;
  }
}
.sec-btn {
  background-color: #9e9e9e;
  color: var(--whiteColor);
  &:hover {
    background-color: #818181;
  }
}

// Close Content
.closed {
  position: fixed;
  right: 50px;
  top: 40px;
  width: 40px;
  height: 40px;
  background: #f05;
  display: flex;
  @include mdScreen {
    right: 40px;
  }
  @include smScreen {
    right: 25px;
  }
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
}

.afterTitle {
  padding-top: 60px;
}
// maintitle
.main-title {
  position: relative;
  span {
    &:first-child {
      position: absolute;
      width: 50%;
      left: 0;
      top: 0;
      height: 2px;
      background-color: #ccc;
      transition: var(--trans);
    }
  }
  h2 {
    color: #1c1c1c;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    transition: var(--trans);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    @include mdScreen {
      width: 150px;
    }
    background: var(--whiteColor);
    z-index: 9;
    text-align: center;
  }
  span {
    &:last-child {
      position: absolute;
      width: 50%;
      right: 0;
      top: 0;
      transition: var(--trans);
      height: 2px;
      background-color: #ccc;
    }
  }
}

.mood {
  position: fixed;
  bottom: 40px;
  right: 60px;
  z-index: 5;
  @include smScreen {
    right: 32px;
  }
  .moon {
    display: none;
  }
  .sun {
    animation: show 0.5s linear forwards;
  }
  &.show {
    .moon {
      display: block;
      animation: show 0.5s linear forwards;
    }
    .sun {
      display: none;
    }
  }
  i {
    cursor: pointer;
    font-size: 22px;
    color: var(--textColor);
    margin-bottom: 10px;
  }
  .line {
    display: block;
    width: 2px;
    height: 100px;
    background: #777;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  .theMood {
    position: absolute;
    color: #777;
    font-size: 15px;
    writing-mode: vertical-rl;
    left: 15px;
    top: 40px;
    font-weight: 600;
    height: 120px;
    user-select: none;
  }
}
