:root{
  --mainColor: #2196f3;
  --bodyBackground: #5372F0;
  --bgContentDark: white;
  --whiteColor: white;
  --textColor: #434343;
  --trans: 0.5s;
  --gradient: linear-gradient(to right, var(--mainColor), transparent);
  --gradientDark: linear-gradient(to right, var(--whiteColor), transparent);
  --bgDark: #1c1c1c;
}